<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="theme-color" content="#3e454c">
	
 <title>Chamber of Secrets</title>
<link rel="icon" href="/img/favicon.gif" type="image/x-icon" />
	<!-- Font awesome -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<!-- Sandstone Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<!-- Bootstrap Datatables -->
	<link rel="stylesheet" href="/css/dataTables.bootstrap.min.css"/>
	<!-- Bootstrap social button library -->
	<link rel="stylesheet" href="/css/bootstrap-social.css"/>
	<!-- Bootstrap select -->
	<link rel="stylesheet" href="/css/bootstrap-select.css"/>
	<!-- Bootstrap file input -->
	<link rel="stylesheet" href="/css/fileinput.min.css"/>
	<!-- Awesome Bootstrap checkbox -->
	<link rel="stylesheet" href="/css/awesome-bootstrap-checkbox.css"/>
	<!-- Admin Stye -->
	<link rel="stylesheet" href="/css/style1.css"/>

  </head>

<body>
	<div class="brand clearfix" >
		<a href="#" class="logo"><img src="img/logo.jpg" class="img-responsive"  alt=""></a>
		<span class="menu-btn"><i class="fa fa-bars"></i></span>
		<ul class="ts-profile-nav">
			<!--<li><a href="#">Help</a></li>
			<li><a href="#">Settings</a></li>-->
			<li class="ts-account">
				<a href="#"><img src="img/ts-avatar.jpg" class="ts-avatar hidden-side" alt=""> Account <!-- <i class="fa fa-angle-down hidden-side"></i> --></a>
				<ul>
					<li><a href="#" id="showprofile">My Account</a></li>
					<!--<li><a href="#">Edit Account</a></li>-->
					<li><a href="/users/logout">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Navigation bar -->
	<div class="ts-main-content">
			
		<nav class="main-menu">
			<ul class="ts-sidebar-menu" >
				<li  class="open" >
                <a href="/" id="showhome"><i class="fa fa-home fa-fw"></i>
                    <span class="nav-text">   Home   </span>
                </a></li>
				<li >
                <a href="#rules" id="showrules"><i class="fa fa-bullhorn"></i>
                <span class="nav-text">  Rules</span>
                    </a></li>
				<li><a href="#clues" id="showclues"><i class="fa fa-edit"></i>
                <span class="nav-text">Clues</span>
                    </a></li>
				<li><a href="#leaderboard" id="showleader"><i class="fa fa-group "></i>
                <span class="nav-text">    Leaderboard</span>
                    </a></li>
				<li><a href="#panel" id="showpanel"><i class="fa fa-comments-o" ></i>
                <span class="nav-text"> Discussion panel</span>
                </a></li>
                <li><a href="#contact" id="showcontact"><i class="fa fa-paper-plane-o"></i>
                <span class="nav-text">  Contact</span>
                </a></li>
			</ul>
		</nav>
	</div>
				

    <main >

                <div id="home" class="content">Home</div>
				<div id="rules"  class="content" style="display:none;">Rules</div>
				<div id="clues" class="content" style="display:none;">Clues</div>
				<div id="leader"  class="content" style="display:none;">leader</div>
				<div id="panel" class="content" style="display:none;">panel</div>
				<div id="contact" class="content" style="display:none;">contact</div>
				<div id="profile" class="content" style="display:none;">profile</div>
    </main>            


		
	<!-- Loading Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap.min.js"></script>
	<script src="/js/Chart.min.js"></script>
	<script src="/js/fileinput.js"></script>
	<script src="/js/chartData.js"></script>
	<script src="/js/main.js"></script>

<!--For hiding and showing selected div's-->

<script src="https://code.jquery.com/jquery-1.7.2.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
$(function() {
    $('#showhome').click(function() {
         $('#home').show();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });
    $('#showrules').click(function() {
       $('#home').hide();
        $('#rules').show();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });

    $('#showclues').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').show();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });

    $('#showleader').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').show();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });


    $('#showpanel').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').show();
        $('#contact').hide();
        $('#profile').hide();
    });

    $('#showcontact').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').show();
        $('#profile').hide();
    });


    $('#showprofile').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').show();
    });
});
});

</script>

		
</body>

</html>