<html>
<head>
 <title>test</title>
</head>
<body>
<form action "/upload" method="POST" enctype="multipart/form-data">
 <input type="file" name="myimage" ></input>
 ID: <input type="text" name="id" > </input>
 Points :<input type="text" name="points" > </input>
 
 <input type="submit" name="submit" value="submit"></input>
</form>
</body>
</html>  